useDynLib(ADaCGH2, .registration = TRUE, .fixes = "C_")

export("pSegmentDNAcopy",
       "pSegmentWavelets",
       "pSegmentHMM",
       "pSegmentGLAD",
       "pSegmentCGHseg",
       "pSegmentHaarSeg",
       "pChromPlot",
       "inputToADaCGH",
       "outputToCGHregions",
       "cutFile")

import(ff)
importFrom("bit", intrle, ri, chunk)
## importFrom("ffbase", mean.ff) ## importing something from ffbase, so that
## the min and max methods are available

importFrom("parallel", detectCores, clusterApply, clusterApplyLB,
           mclapply, stopCluster)
importFrom("DNAcopy", getbdry)
importFrom("tilingArray", segment)


importFrom("aCGH", mergeLevels, create.aCGH, find.hmm.states, "hmm<-")
import(GLAD) 
importFrom("waveslim", modwt, imodwt)
importFrom("cluster", pam, clara)

importFrom("grDevices", "dev.cur", "dev.off", "dev.set", "png")
importFrom("graphics", "abline", "axis", "box", "lines", "par", "plot",
           "rect", "rug", "strheight", "strwidth", "symbols", "text")
importFrom("stats", "IQR", "mad", "median", "na.omit", "pnorm",
           "qnorm", "runif", "update")
importFrom("utils", "capture.output", "data", "file_test",
           "object.size", "packageDescription", "read.table")


